<script>
export default {
    data() {
        return {
            tab: 'Payment',
            items: ['Payment', 'History'],
            dialog: false,
            loading: false,
            form: {},
            editedPayment: {
                id: '',
                date: '',
                userId: '',
                workingHours: '',
                workRate: '',
                action: ''
            },
            paymentTableHeaders: [
                { text: 'Id', value: 'id' },
                { text: 'Date', value: 'date' },
                { text: 'User ID', value: 'userId' },
                { text: 'Working Hours', value: 'workingHours' },
                { text: 'Work Rate', value: 'workRate' },
                { text: 'Action', value: 'action' }
            ],
            paymentTableData: [
                { id: 1, date: '2024-02-02', userId: '1', workingHours: 8, workRate: 10, action: 'Pay' },
                { id: 2, date: '2024-02-03', userId: '2', workingHours: 7, workRate: 12, action: 'Pay' }
            ],
            historyTableHeaders: [
                { text: 'Receipt ID', value: 'id' },
                { text: 'User ID', value: 'userId' },
                { text: 'Action', value: 'action' }
            ],
            historyTableData: [
                { id: '1', userId: '1', action: "Detail" }
            ]
        }
    },
    methods: {
        handlePay(item) {
            console.log('Pay action for item:', item);
            // Find the payment entry
            const paymentEntry = this.paymentTableData.find(entry => entry.id === item.id);
            // Remove the payment entry from paymentTableData
            const index = this.paymentTableData.indexOf(paymentEntry);
            this.paymentTableData.splice(index, 1);
            // Add the payment entry to historyTableData
            this.historyTableData.push(paymentEntry);
        },
        onSubmit() {
            // Your submission logic here
        },
        closeDialog() {
            this.dialog = false;
        },
        save() {
            const newData = {
                date: this.editedPayment.date,
                userId: this.editedPayment.userId,
            };

            this.paymentTableData.push(newData);

            this.editedPayment.date = '';
            this.editedPayment.userId = '';

            this.dialog = false;
        },
    }
}
</script>

<template>
    <v-card color="basil" class="responsive-card">
        <v-card-title class="text-center justify-center py-6">
            <h1 class="font-weight-bold text-h2 text-basil">
                Salary
            </h1>
        </v-card-title>
        <v-tabs v-model="tab" bg-color="transparent" color="basil" grow>
            <v-tab v-for="item in items" :key="item" :value="item">
                {{ item }}
            </v-tab>
        </v-tabs>
        <v-window v-model="tab">
            <v-window-item v-for="item in items" :key="item" :value="item">
                <v-card color="basil" flat>
                    <v-card-text v-if="item === 'Payment'">
                        <v-dialog v-model="dialog" persistent width="1024">
                            <template v-slot:activator="{ props }">
                                <v-btn color="green" v-bind="props">
                                    <v-icon>mdi mdi-plus</v-icon> Add New
                                </v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="text-h5">Payment Details</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="12" md="4">
                                                    <v-text-field v-model="editedPayment.date" :readonly="loading"
                                                        :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                        label="Date" type="date"></v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="12" md="4">
                                                    <v-text-field v-model="editedPayment.userId" :readonly="loading"
                                                        :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                                        label="User ID"></v-text-field>
                                                </v-col>

                                            </v-row>
                                        </v-container>
                                    </v-form>
                                    <small>* indicates required field</small>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                                    <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <v-data-table :header="paymentTableHeaders" :items="paymentTableData">
                            <template v-slot:item.action="{ item }">
                                <v-btn @click="handlePay(item)" color="primary">Pay</v-btn>
                            </template>
                        </v-data-table>
                    </v-card-text>
                    <v-card-text v-else-if="item === 'History'">
                        <v-data-table :header="historyTableHeaders" :items="historyTableData">
                            <template v-slot:item.action="{ item }">
                                <v-icon size="small" class="me-2" @click="showDetails(item)">mdi-eye</v-icon>
                                <v-dialog v-model="item.dialog1" max-width="500px">
                                    <v-card>

                                    </v-card>
                                </v-dialog>
                            </template>
                        </v-data-table>

                    </v-card-text>
                </v-card>
            </v-window-item>
        </v-window>
    </v-card>
</template>

<style scoped>
.bg-basil {
    background-color: #bcd4f0 !important;
}

.text-basil {
    color: #356859 !important;
}

.large-card {
    width: 100%;
    height: 100%;
}

.responsive-card {
    width: 1200px;
    max-width: 1200px;
}
</style>
