<script setup lang="ts">
import { nextTick, provide, ref } from 'vue'

import { type Product } from '@/types/Product'

import ProductList from './ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue'
import MemberCard from './MemberCard.vue'
import ReceiptDialog from './ReceiptDialog.vue'

import { useReceiptStore } from '@/stores/receipt'

const dialog = ref(false)
provide('receiptDialog', dialog)

const receiptstore = useReceiptStore()

const tel = ref('')

const printDialog = ref(false)

const products1: Product[] = [
  { id: 1, name: 'ลาเต้', price: 35.0, type: 1 },
  { id: 2, name: 'อเมริกาโน', price: 45.0, type: 1 },
  { id: 3, name: 'คาปูชิโน', price: 55.0, type: 1 },
  { id: 4, name: 'มอคค่า', price: 40.0, type: 1 },
  { id: 5, name: 'ลาเต้มัคคิอาโต้', price: 40.0, type: 1 },
  { id: 6, name: 'เอสเพรสโซ', price: 45.0, type: 1 },
  { id: 7, name: 'กาแฟดำ ', price: 35.0, type: 1 },
  { id: 8, name: 'เฟร้บเป้', price: 55.0, type: 1 },
  { id: 9, name: 'อัฟโฟกาโต', price: 55.0, type: 1 }
]

const products2: Product[] = [
  { id: 21, name: 'ชาเขียว', price: 35.0, type: 2 },
  { id: 22, name: 'ชาเย็น', price: 35.0, type: 2 },
  { id: 23, name: 'ชามะลิ', price: 35.0, type: 2 },
  { id: 24, name: 'ชามะนาว', price: 35.0, type: 2 },
  { id: 25, name: 'ชาดำเย็น', price: 45.0, type: 2 },
  { id: 26, name: 'ชาคาโมมายด์', price: 45.0, type: 2 }
]

const products3: Product[] = [
  { id: 31, name: 'คุกกี้', price: 35.0, type: 3 },
  { id: 32, name: 'ครัวซอง', price: 45.0, type: 3 },
  { id: 33, name: 'ชีสเค้ก', price: 55.0, type: 3 },
  { id: 34, name: 'สตรอว์เบอร์รี่ชีสเค้ก', price: 55.0, type: 3 },
  { id: 35, name: 'ทีรามิสุ', price: 55.0, type: 3 },
  { id: 36, name: 'ขนมปังกระเทียม', price: 55.0, type: 3 },
  { id: 37, name: 'เค้กช็อกโกแลต', price: 55.0, type: 3 },
  { id: 38, name: 'บราวน์ชูการ์โทสต์', price: 55.0, type: 3 },
  { id: 39, name: 'เรดเวลเวท', price: 55.0, type: 3 }
]
const tab = ref(1)
const selected = (p: Product) => {
  console.log('ProductView: ' + p)
  receiptstore.addReceiptItem(p)
  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}

const showReceipt = function () {
  console.log(receiptstore.receipt.receivedAmount)
  if (receiptstore.receipt.total == 0) {
    alert('กรุณาเพิ่มสินค้าในรายการ!!')
  } else if (receiptstore.receipt.cash < receiptstore.receipt.total) {
    alert('จำนวนเงินไม่เพียงพอ!!')
  } else {
    receiptstore.showReceiptDialog()
  }
}
const clearall = function () {
  receiptstore.clear()
  tel.value = ''
}

const divReceiptItems = ref<HTMLElement | null>(null)

const showPrintDialog = () => {
  printDialog.value = true
}
</script>

<template>
  <div style="margin: -26px; background-color: #383330">
    <v-row style="padding: 10px">
      <v-col col="12" md="6">
        <v-sheet
          min-width="400"
          max-width="690"
          height="100%"
          elevation="6"
          style="background-color: antiquewhite"
        >
          <v-tabs
            v-model="tab"
            color="#FFA500"
            align-tabs="center"
            style="background-color: #806044"
          >
            <v-tab style="color: white" :value="1" color="orange">Coffee</v-tab>
            <v-tab style="color: white" :value="2" color="orange">Tea</v-tab>
            <v-tab style="color: white" :value="3" color="orange">Dessert</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="products1" @selectedProduct="selected" style="height: 701px">
              </ProductList>
            </v-window-item>
            <v-window-item :value="2">
              <ProductList :products="products2" @selectedProduct="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="3">
              <ProductList :products="products3" @selectedProduct="selected"></ProductList>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>

      <v-col col="12" md="6">
        <span>
          <v-row>
            <v-col col="12">
              <div ref="divReceiptItems" style="height: 300px; overflow: auto">
                <v-sheet
                  min-width="400"
                  max-width="700"
                  height="300"
                  elevation="6"
                  style="background-color: antiquewhite"
                >
                  <ReceiptDetailTable></ReceiptDetailTable>
                </v-sheet>
              </div>
            </v-col>
            <v-col col="12">
              <v-sheet
                min-width="400"
                max-width="700"
                height="190"
                elevation="6"
                style="background-color: antiquewhite"
              >
                <MemberCard></MemberCard>
              </v-sheet>
            </v-col>
            <v-col col="12">
              <v-sheet
                min-width="400"
                max-width="700"
                height="120"
                elevation="6"
                style="background-color: antiquewhite"
              >
                <ReceiptCard></ReceiptCard>
              </v-sheet>
            </v-col>
            <v-col col="12">
              <v-sheet
                min-width="400"
                max-width="700"
                height="80"
                elevation="6"
                style="background-color: antiquewhite"
              >
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="5"
                      ><v-btn block rounded="x1" color="red" size="large" @click="clearall"
                        >Cancel</v-btn
                      ></v-col
                    >
                    <v-col cols="12" sm="5"
                      ><v-btn block rounded="x1" color="success" size="large" @click="showReceipt"
                        >Payment</v-btn
                      ></v-col
                    >
                    <v-col cols="12" sm="2">
                      <v-btn block rounded="x1" size="large" @click="showPrintDialog">
                        <v-icon>mdi-printer</v-icon>
                      </v-btn></v-col
                    >
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </span>
      </v-col>
    </v-row>
    <br />
  </div>
  <ReceiptDialog></ReceiptDialog>
  <v-dialog v-model="printDialog" persistent max-width="300">
    <v-card>
      <v-col cols="auto" align="center">
        <v-icon color="green" size="60">mdi-check-circle</v-icon>
      </v-col>
      <v-card-text class="text-center"> Printing completed successfully! </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="printDialog = false"> Close </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
@/types/ReceiptItem
