<script setup lang="ts">
import { type Product } from '@/types/Product'
import { nextTick, onMounted, ref, watch, type Ref } from 'vue'
const props = defineProps<{
  product: Product
}>()
const emit = defineEmits<{
  selectedProduct: [Product]
}>()
const selected = function () {
  console.log('ProductCard: ' + props.product.level)
  emit('selectedProduct', props.product)
}

import type { VForm } from 'vuetify/components'
import { useReceiptStore } from '@/stores/receipt'
import ProductList from './ProductList.vue'

const receiptstore = useReceiptStore()
const form = ref(false)

function onSubmit() {}

function closeDialog() {
  dialog.value = false
}

const level = ref('')
async function save() {
  console.log('level: ', level.value)
  selected()
  closeDialog()
}

const dialog = ref(false)
</script>

<template>
  <v-sheet
    max-width="170"
    min-width="130"
    height="180"
    elevation="3"
    @click="dialog = true"
    class="product"
  >
    <v-img :src="`./img/coffees/product${product.id}.png`" height="120" cover></v-img>
    <div style="text-align: center">
      {{ product.name }} <br />
      {{ product.price }} บาท <br />
      <br />
      <v-dialog v-model="dialog" persistent width="350">
        <v-card>
          <v-card-title>
            <span class="text-h5">Product Info </span>
          </v-card-title>
          <v-img
            style="height: 300px; width: 300px"
            :src="`./img/coffees/product${product.id}.png`"
            height="120"
            cover
          ></v-img>
          <v-card-text>
            <p style="font-size: 14pt">
              สินค้า: {{ product.name }} <br />
              ราคา: {{ product.price }} <br />
            </p>
            <div v-if="product.type == 1">
              <br />
              <v-container fluid>
                <p>Selected Button: {{ level }}</p>
                <v-radio-group v-model="level">
                  <v-radio label="Hot" value="Hot"></v-radio>
                  <v-radio label="Cold" value="Cold"></v-radio>
                  <v-radio label="Blend" value="Blend"></v-radio>
                </v-radio-group>
              </v-container>
            </div>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
            <v-btn
              color="blue-darken-1"
              variant="text"
              @click="receiptstore.addToLevel(props.product, level), save()"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-sheet>
</template>
<style>
.product {
  border: 1px solid white;
}
.product:hover {
  border-color: black;
}
</style>
