<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import { ref } from 'vue'

const receiptstore = useReceiptStore()

const level = ['Hot', 'Ice', 'Bld']
const sugar = ref(['Min', 'Nor', 'Max'])
const level_dialog = ref(false)

function count_level(l: any) {
  let i: string
  let count_h = 0
  let count_c = 0
  let count_b = 0
  let showlevel = ''
  for (let i = 0; i < l.length; i++) {
    if (l[i] == 'Hot') {
      count_h++
    }
    if (l[i] == 'Cold') {
      count_c++
    }
    if (l[i] == 'Blend') {
      count_b++
    }
  }
  if (count_h != 0) {
    console.log('coun_h = ' + count_h)
    showlevel += 'Hot ' + count_h + ' '
  }
  if (count_b != 0) {
    console.log('coun_c = ' + count_b)
    showlevel += 'Blend ' + count_b + ' '
  }
  if (count_c != 0) {
    console.log('coun_b = ' + count_c)
    showlevel += 'Cold ' + count_c + ' '
  }
  return showlevel
}

function del_level(x: any, text: string) {
  let l = x.level
  let i: string
  let count_h = 0
  let count_c = 0
  let count_b = 0
  let showlevel = ''
  for (let i = 0; i < l.length; i++) {
    if (l[i] == 'Hot' && text == 'Hot') {
      l.splice(i, 1)
    }
    if (l[i] == 'Cold' && text == 'Cold') {
      l.splice(i, 1)
    }
    if (l[i] == 'Blend' && text == 'Blend') {
      l.splice(i, 1)
    }
  }
  for (let i of receiptstore.receiptItems) {
    if (i == x) {
      i.level = l
    }
  }

  receiptstore.dec(x)
  return count_level(l.level)
}

function showdialog() {
  level_dialog.value = true
}
</script>

<template>
  <v-table>
    <thead>
      <tr style="background-color: #806044; color: aliceblue">
        <th>Order</th>
        <th><p style="margin-left: 17px">Unit</p></th>
        <th><p style="margin-left: -8px">Total</p></th>
        <th><p style="margin-left: 10px">Edit</p></th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody style="background-color: #cbb89d">
      <tr v-for="(item, index) of receiptstore.receiptItems" :key="item.id">
        <td>{{ item.name }} ({{ count_level(item.level) }})</td>
        <td>
          <v-btn
            class="custom-button1"
            size="20"
            icon="mdi-minus"
            density="compact"
            @click="receiptstore.dec(item)"
          ></v-btn
          >{{ item.unit
          }}<v-btn
            class="custom-button2"
            size="20"
            icon="mdi-plus"
            density="compact"
            @click="level_dialog = true"
          ></v-btn>
        </td>
        <td>{{ item.price * item.unit }}</td>
        <td>
          <v-btn icon="mdi-cog-outline" @click="showdialog()"></v-btn>
        </td>
        <td>
          <v-btn
            size="40"
            color="red"
            icon="mdi-delete"
            @click="
              () => {
                receiptstore.removeReceipt(item)
              }
            "
          ></v-btn>
        </td>
        <v-dialog v-model="level_dialog" width="400px">
          <v-card height="400px">
            <v-card-title> Choose level to remove </v-card-title>
            {{ item.level }}
            <v-row style="padding-left: 60px">
              <v-col cols="3">
                <v-btn @click="del_level(item, 'Hot')">hot</v-btn>
              </v-col>
              <v-col cols="3">
                <v-btn @click="del_level(item, 'Cold')">cold</v-btn>
              </v-col>
              <v-col cols="3">
                <v-btn @click="del_level(item, 'Blend')">blend</v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-dialog>
      </tr>
    </tbody>
  </v-table>
</template>

<style scoped>
.custom-button1 {
  background-color: EDEID2;
  margin-right: 4px;
  margin-left: 4px;
}
.custom-button2 {
  background-color: EDEID2;
  margin-right: 4px;
  margin-left: 4px;
}
</style>
