<template>
  <v-card color="grey darken-3" class="responsive-card">
    <v-card-title class="text-center justify-center py-6">
      <h1 color="white">
        Products
      </h1>
    </v-card-title>
    <div class="pos-container">
      <v-row>
        <v-col cols="12">
          <v-toolbar flat color="grey darken-3" class="pos-toolbar">
            <v-toolbar-title class="white--text">Products</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn @click="openAddProductDialog" color="white" small>Add Product</v-btn>
          </v-toolbar>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-data-table :headers="headers" :items="products">
            <template v-slot:item.image="{ item }">
              <v-img @click="openProductDetailDialog(item)" :src="item.image" alt="Product Image" class="pos-product-image"></v-img>
            </template>
          </v-data-table>
        </v-col>
      </v-row>

      <!-- Dialog for Product Details -->
      <v-dialog v-model="detailDialog" max-width="600">
        <v-card class="pos-dialog">
          <v-card-title class="primary white--text">
            <span class="headline">Product Details</span>
          </v-card-title>
          <v-card-text v-if="selectedProduct">
            <div>Name: {{ selectedProduct.name }}</div>
            <div>Price: {{ selectedProduct.price }}</div>
            <v-img :src="selectedProduct.image" alt="Product Image" class="pos-product-image"></v-img>
          </v-card-text>
          <v-card-actions v-if="selectedProduct">
            <v-btn @click="closeDetailDialog" color="primary">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Dialog for Adding New Product -->
      <v-dialog v-model="addDialog" max-width="600">
        <v-card class="pos-dialog">
          <v-card-title class="primary white--text">
            <span class="headline">Add New Product</span>
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="newProduct.name" label="Name"></v-text-field>
            <v-text-field v-model="newProduct.price" label="Price"></v-text-field>
            <v-text-field v-model="newProduct.image" label="Image URL"></v-text-field>
          </v-card-text>
          <v-card-actions>
            <!-- เพิ่มการเรียกใช้งานฟังก์ชัน saveProduct เมื่อคลิกที่ปุ่ม Save -->
            <v-btn @click="saveProduct" color="primary" class="save-button" :class="{ 'hovered': isHovered }">Save</v-btn>
            <v-btn @click="closeAddDialog" color="primary">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-card>
</template>

<script>
import { ref } from 'vue';

export default {
  setup() {
    const headers = [
      { text: 'ID', value: 'id' },
      { text: 'Name', value: 'name' },
      { text: 'Price', value: 'price' },
      { text: 'Image', value: 'image' }
    ];

    const products = ref([
    {
        id: 1,
        name: 'ฮันนี่โทสต์มะม่วง',
        price: 60,
        image: 'https://img.kapook.com/u/2016/surauch/cook1/b1_3.jpg'
      },
      {
            id: 2,
            name: 'แพนเค้กราสป์เบอร์รี',
            price: 90,
            image: 'https://www.pholfoodmafia.com/wp-content/uploads/2018/06/1000x6503ChocolateBananaStrawberryPancakes.jpg'
          },
          {
            id: 3,
            name: 'แพนเค้กกล้วยหอม',
            price: 50,
            image: 'https://img.wongnai.com/p/1920x0/2017/09/13/2d08bc20979f4dd0a3096f4bcdb91140.jpg'
          },
          {
            id: 4,
            name: 'แพนเค้กเรด เวลเว็ท',
            price: 65,
            image: 'https://f.ptcdn.info/957/014/000/1390799096-1656380695-o.jpg'
          },
          {
            id: 5,
            name: 'วาฟเฟิลไอศกรีม',
            price: 70,
            image: 'https://img.wongnai.com/p/400x0/2019/05/06/f122f3fad1604a7abead9a01114ca6e8.jpg'
          },
          {
            id: 6,
            name: 'วาฟเฟิลชาเขียว',
            price: 70,
            image: 'https://one.romsood.com/wp-content/uploads/2017/07/img_4308-633x429.jpg'
          },
          {
            id: 7,
            name: 'ช็อกโกแลตลาวา',
            price: 40,
            image: 'https://www.ohmcuisine.co.th/images/products/gallery/benoit%20martin.jpg'
          },
          {
            id: 8,
            name: 'พานาคอตต้ามะม่วง',
            price: 35,
            image: 'https://img.kapook.com/u/2016/surauch/cook1/b21_1.jpg'
          },
          {
            id: 9,
            name: 'พานาคอตต้าสตรอว์เบอร์รี',
            price: 30,
            image: 'https://img-global.cpcdn.com/recipes/f0090be866f31494/680x482cq70/%E0%B8%A3%E0%B8%9B-%E0%B8%AB%E0%B8%A5%E0%B8%81-%E0%B8%82%E0%B8%AD%E0%B8%87-%E0%B8%AA%E0%B8%95%E0%B8%A3-%E0%B8%9E%E0%B8%B2%E0%B8%99%E0%B8%B2%E0%B8%84%E0%B8%AD%E0%B8%95%E0%B8%95%E0%B8%B2-%E0%B8%8B%E0%B8%AD%E0%B8%AA%E0%B8%AA%E0%B8%95%E0%B8%A3%E0%B8%AD%E0%B8%A7%E0%B9%80%E0%B8%9A%E0%B8%AD%E0%B8%A3%E0%B8%A3.jpg'
          },
          {
            id: 10,
            name: 'ทีรามิสุ',
            price: 45,
            image: 'https://img.kapook.com/u/wanwanat/Tiramisu.jpg'
          },
          {
            id: 11,
            name: 'บานอฟฟี่พาย',
            price: 40,
            image: 'https://sou-dai.com/wp-content/uploads/2020/11/double-chocolate-banoffee-pie.jpg'
          },
          {
            id: 12,
            name: 'เค้กชาเขียว',
            price: 40,
            image: 'https://s359.kapook.com/pagebuilder/8b46250b-398c-470e-9072-bb2425d76064.jpg'
          },
          {
            id: 13,
            name: 'แอปเปิลครัมเบิลเค้ก',
            price: 45,
            image: 'https://2.bp.blogspot.com/-7hbLfAVwiRY/VPlR0lk7qSI/AAAAAAAAm1I/DrWH2KpeAxk/w1200-h630-p-k-no-nu/1.JPG'
          },
          {
            id: 14,
            name: 'บิงซูเมลอน',
            price: 55,
            image: 'https://img.kapook.com/u/2015/surauch/cook1/m9.jpg'
          },
          {
            id: 15,
            name: 'เค้กหยดน้ำ',
            price: 50,
            image: 'https://pare63.files.wordpress.com/2015/09/1437645886-b7waqddccaaxhvx.jpg'
          },
          {
            id: 16,
            name: 'สตรอว์เบอร์รี่ชีสเค้ก',
            price: 40,
            image: 'https://bakery-lover.com/wp-content/uploads/2023/08/3-3-1024x1024.jpg'
          },
          {
            id: 17,
            name: 'ชีสเค้ก',
            price: 35,
            image: 'https://static.thairath.co.th/media/Dtbezn3nNUxytg04ajY6PeW8KFeCmry3UjGUr9VHNtHqcR.webp'
          },
          {
            id: 18,
            name: 'ชีสพาย',
            price: 35,
            image: 'https://img.kapook.com/u/2015/surauch/cook1/cheese-cake-3.jpg'
          },
          {
            id: 19,
            name: 'บราวน์ชูการ์โทสต์',
            price: 40,
            image: 'https://www.proudsugarofficial.com/application/files/cache/thumbnails/571df42bd6821e340e391a35402b7692.jpg'
          },
          {
            id: 20,
            name: 'ครัวซองต์ครีมคัสตาร์ดสตรอเบอร์รี่',
            price: 55,
            image: 'https://www.mitrpholsugar.com/wp-content/uploads/2023/04/Web-Feature-img_%E0%B8%84%E0%B8%A3%E0%B8%B1%E0%B8%A7%E0%B8%8B%E0%B8%AD%E0%B8%87%E0%B8%95%E0%B9%8C_1568x1044.png'
          },
    ]);

    const detailDialog = ref(false);
    const selectedProduct = ref(null);
    const addDialog = ref(false);
    const newProduct = ref({
      name: '',
      price: 0,
      image: ''
    });

    const openAddProductDialog = () => {
      addDialog.value = true;
    };

    const closeAddDialog = () => {
      addDialog.value = false;
    };

    const closeDetailDialog = () => {
      detailDialog.value = false;
    };

    const openProductDetailDialog = (item) => {
      selectedProduct.value = item;
      detailDialog.value = true;
    };

    const saveProduct = () => {
      // ตรวจสอบว่าข้อมูลสินค้าถูกต้องหรือไม่
      if (newProduct.value.name && newProduct.value.price && newProduct.value.image) {
        // สร้างข้อมูลสินค้าใหม่
        const product = {
          id: products.value.length + 1,
          name: newProduct.value.name,
          price: newProduct.value.price,
          image: newProduct.value.image
        };

        // เพิ่มสินค้าใหม่ลงในรายการสินค้า
        products.value.push(product);

        // ปิด dialog
        addDialog.value = false;

        // เคลียร์ข้อมูลสำหรับการเพิ่มสินค้าใหม่
        newProduct.value = {
          name: '',
          price: 0,
          image: ''
        };
      } else {
        // แสดงแจ้งเตือนหากข้อมูลไม่ครบถ้วน
        alert('Please fill in all fields.');
      }
    };
    const isHovered = ref(false);

const applyHoverEffect = () => {
  isHovered.value = true;
};

const removeHoverEffect = () => {
  isHovered.value = false;
};

    return {
      headers,
      products,
      detailDialog,
      selectedProduct,
      addDialog,
      newProduct,
      openAddProductDialog,
      closeAddDialog,
      closeDetailDialog,
      openProductDetailDialog,
      saveProduct
    };
  }
};
</script>

<style scoped>
.responsive-card {
  max-width: 800px;
  margin: 0 auto;
}

.pos-container {
  padding: 16px;
}

.pos-toolbar {
  padding: 8px;
}

.pos-product-image {
  max-width: 100px;
  max-height: 100px;
}

.bg-basil {
  background-color: #bcd4f0 !important;
}

.responsive-card {
  width: 1200px;
  max-width: 1200px;
}
.save-button.hovered {
  background-color: blue; /* เปลี่ยนสีเมื่อเมาส์ผ่านเหนือ */
  transform: scale(1.1); /* เพิ่มขนาดเมื่อเมาส์ผ่านเหนือ */
}
</style>