<script setup lang="ts">
import { inject, type Ref } from 'vue'

const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
</script>

<template>
  <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false">
    <v-list-item
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      title="John Leider"
      nav
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-coffee"
        title="POS"
        value="pos"
        :to="{ name: 'pos' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account"
        title="Users"
        value="users"
        :to="{ name: 'users' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-currency-usd"
        title="Salary"
        value="salary"
        :to="{ name: 'salary' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-treasure-chest"
        title="Stock"
        value="stock"
        :to="{ name: 'stock' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-information"
        title="Product"
        value="product"
        :to="{ name: 'product' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-information"
        title="Reciept History"
        value="reciept_history"
        :to="{ name: 'reciepthistory' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-information"
        title="Order Ingredient"
        value="order"
        :to="{ name: 'order' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-information"
        title="Checkwork"
        value="checkwork"
        :to="{ name: 'checkwork' }"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<style scoped></style>
