<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useOrderStore } from '@/stores/Order'
import type { Order } from '@/types/Order'

const OrderStore = useOrderStore()
</script>

<template>
    <div>
        Order-Ingredient
    </div>
</template>